*{
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu{
width: 100%;
display: flex;
background-color: #FABB1A;
position: relative;
position: fixed;
top: 0;
left: 0;
z-index: 8;  

}
.nav{
text-align: center;
width: 100%;
display: flex;
justify-content: flex-end; 
transition: .5s;
}
.nav li a{
width: 140px;
padding: 10px;
text-decoration: none;
color: aliceblue;
font-size: 20px;
display: block;
font-weight: 900;

}

.nav li{
position: relative;
}
.nav li:hover >a{
background-color: rgb(140, 14, 14);
}
.nav .information{
width: 140px;
position: absolute;
top: 100%;
background-color: #090909;
display: none;
text-align: center; 

}
.nav li:hover .information{
display: block;
}
.information li a{
display: block; 

}
.nav .coach{
width: 140px;
position: absolute;
top: 100%;
background-color: #090909;
display: none;

}
.nav li:hover .coach{
display: block;
}
.nav .article{
width: 140px;
position: absolute;
top: 100%;
background-color: #090909;
display: none;

}
.nav li:hover .article{
display: block;
}
.nav .free{
width: 140px;
position: absolute;
top: 100%;
background-color: #090909;
display: none;

}
.nav li:hover .free{
display: block;
}
.nav .problem{
width: 140px;
position: absolute;
top: 100%;
background-color: #090909;
display: none;

}
.nav li:hover .problem{
display: block;
}
.logo-pic{
text-align: center;
width: 160px;
height: 110px;
background-color: rgb(238, 238, 238);
position: absolute;
top: 0;
right: 80%;
z-index: 10;
position: fixed;


}
.logo-pic img{
padding-bottom: 20px;
}
.logo-pic::before{
content: "";
width: 0;
height: 0;
border-bottom:30px solid transparent;
border-right: 80px solid rgb(238, 238, 238);
border-left:80px solid rgb(238, 238, 238);
position: absolute;
bottom: 0;
left: 0;
transform: translateY(100%);
} 
.lab{
display: none;
}
/* ===========================================選單 */
.problem-total{
    padding-top:25px
}
.problem-title{
box-sizing: border-box;
width: 100%;
background-color: brown;
margin: auto;
color: aliceblue;
font-size: 30px;
font-weight: 900;
text-align: center;
padding: 10px;
margin-bottom: 30px;
display: flex;
justify-content: center;
}
.problem{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    cursor: pointer;
}
.problem-item{
    margin-bottom: 30px;
}
.problem-question{
    width: 100%;
    max-width: 1200px;
    background-color: orange;
    padding: 10px;
    font-size: 20px;
   
}
.problem-answer{
    font-size: 20px;
    opacity: 0;
    font-weight: 800;
}
/* =============================常見問題 */
.manufacturer-title{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.manufacturer-title h2{
    font-size: 40px;
    border-bottom: 3px solid black;
}
.manufacturer{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;

}
.manufacturer-pic img{
    width: 100%;
    margin: 10px;

   
}

/* =============================特約廠商 */ 

.contact-container{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding-right: 50px;
}
.contact-title{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
    padding-bottom: 20px;
  
}
.contact-title h2{
    border-bottom: 2px solid black;
    font-size: 40px;
   
}
.contact-txt{
    padding: 0 50px;
}
.contact-first{
    display: flex;
}
.contact-first h2{
    font-size: 40px;
  
}
.contact-post p{
    font-size: 20px;
    line-height: 2;
}
/* =============================聯絡我們 */
.footer-total{
display: flex;
background-color: black;
margin-top: 30px;
}
.footer{
width: 100%;
max-width: 1200px;
justify-content: space-between;
align-items: center;
display: flex;
color: aliceblue;
padding: 20px;
margin: auto;
}
.footer .footer-pic{
display: flex;
justify-content: flex-start;
width: 300px;
}
.footer .footer-pic img{
width: 300px;
}
.footer .footer-about{
width: 100%;
max-width: 1000px;
display: flex;
justify-content: flex-end;
}
.footer-about ul{
display: flex;
flex-direction: column;

}

.footer-about li{
display: inline-block;
margin: 10px 0;
}
.footer-about ul{
text-align: center;
}
.footer-about ul p{
font-size: 20px;
font-weight: 900;
padding: 10px;
margin: 10px;
}
.footer-about ul a{
text-decoration: none;
color: aliceblue;
margin: 0;
padding: 0;
}
.footer-about ul a:hover{
color: red;
}
.app{
display: flex;
justify-content: center;
text-align: center;
background-color:#FABB1A; 
flex-direction: column;
padding-top: 20px;
}
/* <!-- ========================================關於我們 -->  */
.app{
border-top: 2px solid white;
background-color: black;
}
.app-pic img{
margin: 5px 10px;
}
.app-adress{
color: black;
display: flex;
justify-content: center;
}
/* <!-- ========================================連結 -->  */

.copy{
background-color:black;
display: flex;
align-items: center;
justify-content: center;
padding: 20px 0 80px 0;
color: aliceblue;  
font-size: 20px;
}
/* ========================================copy-rigtt -->    */
.advertise{
width: 40px;
position: fixed;
right: 0;
top: 50%;
z-index: 10;
padding: 10px 5px;

}
.advertise img{
margin: 10px 0;  
}
@media screen and (max-width:1024px) {
    .footer{
      flex-direction: column;
    }
    .footer .footer-about{
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .footer .footer-about nav li{
        width: 200px;
        padding: 0;
        margin: 0;
    }
    .footer-about ul p{
        font-size: 20px;
        font-weight: 900;
        padding: 5px;
        margin: 0px;
    }
    #int-list:checked~.menu-total .nav{
        left: 0;
   }
   #int-list{
    display: none;
   }
    .menu{
        width: 100%;
        display: flex;
        background-color: #FABB1A;
        position: relative;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 8;  
        justify-content: flex-end;
        
    }
    .lab{
        width: 50px;
        height: 50px;
        background-color: black;
        margin: 10px 20px;
        position: relative;
        display: block;
   }
    .lab::before{
        content: "";
        width: 36px;
        height: 3px;
        position: absolute;
        background-color: aliceblue;
        top: 45%;
        left: 15%;
        box-shadow: 0px 13px 0px aliceblue,
                     0px -13px 0px aliceblue;
    }
    .nav{
        background-color: black;
        position:fixed;
        left: -100%;
        top: 9.5%;
        height: 100vh;
        text-align: center;
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;  
        padding: 0;  
    }
    .nav li{
        padding: 0;
        margin: 0;
    }
    .nav li:last-child{
        margin-bottom: 50px;
    }
    .nav li a{
        width: 300px;
        padding: 20px 0;
        text-decoration: none;
        color: aliceblue;
        font-size: 20px;
        display: block;
        font-weight: 900;
        margin: 0px 0;
        border-bottom: 1px solid aliceblue

    
    }
    .nav .information{
        width: 130px;
        position: absolute;
        top: 0px;
        right: -60%;
        background-color: #090909;
        display: none;
        text-align: center; 
        padding: 0;
        margin: 0;
        
    }
    .nav .information::before{
        content: "";
        width: 0;
        height: 0;
        border-bottom: 30px solid red;
        border-left: 30px solid transparent;
        border-top: 30px solid transparent;
        border-right: 30px solid transparent ;
        position: absolute;
        left: -70px;
        transform: rotate(-90deg);
    }
    .nav .information li{
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .nav .information a{
        padding: 20px;
        margin: 0;
    }
    .nav .coach{
        width: 130px;
        position: absolute;
        top: 0px;
        right: -60%;
        background-color: #090909;
        display: none;
        text-align: center; 
        padding: 0;
        margin: 0;
        
    }
    .nav .coach::before{
        content: "";
        width: 0;
        height: 0;
        border-bottom: 30px solid red;
        border-left: 30px solid transparent;
        border-top: 30px solid transparent;
        border-right: 30px solid transparent ;
        position: absolute;
        left: -70px;
        transform: rotate(-90deg);
    }
    .nav .coach li{
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .nav .coach a{
        padding: 20px;
        margin: 0;
    }

    .nav .article{
        width: 160px;
        position: absolute;
        top: 0px;
        right: -70%;
        background-color: #090909;
        display: none;
        text-align: center; 
        padding: 0;
        margin: 0;
        
    }
    .nav .article::before{
        content: "";
        width: 0;
        height: 0;
        border-bottom: 30px solid red;
        border-left: 30px solid transparent;
        border-top: 30px solid transparent;
        border-right: 30px solid transparent ;
        position: absolute;
        left: -70px;
        transform: rotate(-90deg);
    }
    .nav .article li{
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .nav .article a{
        padding: 20px;
        margin: 0;
    }
    .nav .problem{
        width: 130px;
        position: absolute;
        top: 0px;
        right: -60%;
        background-color: #090909;
        display: none;
        text-align: center; 
        padding: 0;
        margin: 0;
        
    }
    .nav .problem::before{
        content: "";
        width: 0;
        height: 0;
        border-bottom: 30px solid red;
        border-left: 30px solid transparent;
        border-top: 30px solid transparent;
        border-right: 30px solid transparent ;
        position: absolute;
        left: -70px;
        transform: rotate(-90deg);
    }
    .nav .problem li{
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .nav .problem a{
        padding: 20px;
        margin: 0;
    }
    .problem-total{
        padding: 60px 10px;
    }
    .contact-container{
      display: flex;
      flex-direction: column;
      align-items: center;
       
    }
    .contact-font{
        font-size: 40px;
        display: flex;
    }
    .contact-txt{
       display: none;
    }
    .manufacturer-title{
        padding: 10px;
    }
    
    .contact-title{
        padding: 10px;
    }
   
 
  }
 
/* <!-- 
========================================ig fb line -->  */